/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f7fa;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
header {
  background-color: #2b9e23;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #1abc9c;
}

/* Main */
main {
  flex: 1;
  padding: 40px 20px;
  text-align: center;
}

.welcome h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.welcome p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.finance-buttons {
  background-color: #27ae60;
  color:black;
  border: none;
  padding: 4px 25px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.finance-buttons:hover {
  background-color: #219150;
}

.finance-buttons.red {
  background-color:red ;
}
.finance-buttons.red:hover {
  background-color:rgb(182, 17, 17);
}

.finance-buttons.blue {
  background-color:blue ;
}
.finance-buttons.blue:hover {
  background-color: rgb(16, 16, 122);
}

.finance-buttons.gray {
  background-color: gray;
}
.finance-buttons.gray:hover {
  background-color: rgb(100, 98, 98);
}

/* Content display */
.content-display {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.content-display h2 {
  margin-bottom: 10px;
}

/* Footer */
footer {
  background-color: #ecf0f1;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  color: #777;
}

/* Responsivo */
@media (max-width: 600px) {
  .nav-links {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  header {
    flex-direction: column;
    gap: 15px;
  }

  .buttons {
    flex-direction: column;
  }
}
